body {
  background-color: peachpuff;
}

.paragraph {
}

.sentence{
  margin-left: 0.25em;
  color: indigo;
}

.sentence:hover .te-reo{
  display: none;
  opacity: 0;
}

.sentence .te-reo{
  color: red;
  display: inline;
}

.sentence .english{
  color: green;
  display: none;
  opacity: 0;
}

.sentence:hover .english{
  display: inline;
  opacity: 1;
}

